{% extends "auctions/layout.html" %}

{% block title %}
Categories
{% endblock %}

{% block body %}

<h3>Categories</h3>

<ul>
    <li><a href="{% url 'categories_category' 'All' %}">All</a></li>
    <li><a href="{% url 'categories_category' 'Home' %}">Home</a></li>
    <li><a href="{% url 'categories_category' 'Fashion' %}">Fashion</a></li>
    <li><a href="{% url 'categories_category' 'Toys' %}">Toys</a></li>
    <li><a href="{% url 'categories_category' 'Electronics' %}">Electronics</a></li>
    <li><a href="{% url 'categories_category' 'Commodity' %}">Commodity</a></li>
</ul>

{% endblock %}